
.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}



