{% extends "base.html" %}
{% block title %}Formulario{% endblock %}

{% block content %}
<h1>Formulario de Ejemplo</h1>
<form action="{{ url_for('procesar_formulario') }}" method="post">
    <label for="nombre">Nombre:</label>
    <label for="apellido">Apellido:</label>
    <label for="edad">Edad:</label>
    <label for="correo">Correo:</label>
    <label for="telefono">Telefono:</label>
    <label for="direccion">Direccion:</label>
    <input type="text" id="nombre" name="nombre" required>
    <button type="submit">Enviar</button>
</form>
{% endblock %}